/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.devfle-expansion-panel {
	&__title {
	  &:hover {
		cursor: text;
	  }
	}
  
	&__content {
	  padding: 0.5em;
	  min-height: 100px;
	}
}
