/**
 * The following styles get applied inside the editor only.
 *  We need to use !important in some places, because the editor is saving a lot of styles inline.
 */

.devfle-expansion-panel {
	&__title {
		border-bottom: 1px solid;

		&--border-false {
			border-bottom: 0px !important;
		}
		
	  &:hover {
		cursor: text;
	  }
	}
  
	&__content {
	  padding: 0.5em;
	  min-height: 100px;
	  visibility: visible;
	  opacity: 1;
	  max-height: 100%;
	}

	&.is-style-expansion-panel {
		&--dashed {
		  .devfle-expansion-panel__title {
			  border-bottom-style: dashed !important;
		  }
		}
  
		&--dotted {
		  .devfle-expansion-panel__title {
			  border-bottom-style: dotted !important;
		  }
		}
	}
}

.block-editor-block-inspector {
	.unitcontrol--space-left {
		margin: 0 0 0 8px !important;
	}
	
	.unitcontrol--space-right {
		margin: 0 8px 0 0 !important;
	}

	.devfle-radio-group {
		margin-bottom: 24px;
	}
}