/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

 .devfle-expansion-panel {
	border: 1px solid #d0d0d0;
	border-style: solid;
	border-radius: 2px;
	margin: 1em 0;

	&__icon {
		height: 20px;
		width: 20px;
		display: flex;
		justify-content: center;
		position: absolute;
		transition: transform .25s ease-in-out;
		color: inherit;
	}

	&--icon-row {
		flex-direction: row;
	}

	&--icon-row-reverse {
		flex-direction: row-reverse;
	}

	&--icon-none {
		.devfle-expansion-panel__icon {
			display: none;
		}
	}

	&__title {
	  padding: 0.5em;
	  border-bottom: none;
	  user-select: none;
	  word-wrap: break-word;
	  box-sizing: border-box;
	  display: flex;
	  align-items: center;

	  &:hover {
		cursor: pointer;
	  }

	  > p {
		flex: 1 1 auto;
		color: inherit;
		padding: 0 30px;
		margin: 0;
	  }

	  .rich-text {
		margin: 0;
	  }
	}

	&__content {
	  opacity: 0;
	  visibility: hidden;
	  overflow: hidden;
	  padding: 0 8px;
	  transition: height .5s, opacity .25s, visibility .25s, padding .25s .25s;
	  transition-timing-function: ease-in-out;
	}

	&--open {
		&.is-style-expansion-panel {
			&--dashed {
			  .devfle-expansion-panel__title {
				  border-bottom-style: dashed !important;
			  }
			}

			&--dotted {
			  .devfle-expansion-panel__title {
				  border-bottom-style: dotted !important;
			  }
			}
		}

		.devfle-expansion-panel__title {
			border-bottom: 1px solid #d0d0d0;

			&--border-false {
				border-bottom: 0px !important;
			}
		}

		.devfle-expansion-panel__icon {
			transform: rotate(180deg);

			&--animation-false {
				transform: rotate(0deg);
			}
		}

		.devfle-expansion-panel__content {
			transition: height .5s, opacity .25s .25s, visibility .25s .25s, padding .25s .25s;
			transition-timing-function: ease-in-out;
			opacity: 1;
			padding: 8px;
			box-sizing: border-box;
			visibility: visible;
			overflow: auto;
		}
	}

	/* Settings text align left just as fallback */
	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
  }

  .is-style-expansion-panel {
	  &--dashed {
		border-style: dashed !important;
	  }

	  &--dotted {
		border-style: dotted !important;
	  }
  }